/***BASE STYLES***/
html {
  font-size: 16px;
  height: 100%;
  width: 100%;
}

body {
  align-items: center;
  color: black;
  display: flex;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
}

.container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

h1 {
  font-size: 1.7em;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 1.35em;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

h3, h4 {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  line-height: 24px;
}

/***HEADER***/
header {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

header h1 {
  border-bottom: 3px solid #77a466;
  margin: 0;
  padding: 50px 0;
  text-align: center;
  width: 100%;
}

header h1 span {
  color: #77a466;
}

header nav {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 25px 0;
  width: 100%;
}

header nav ul li {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  font-size: 1em;
  font-weight: 700;
  justify-content: center;
  padding: 15px 0;
  text-transform: uppercase;
  width: 100%;
}

header nav ul li a {
  color: #77a466;
  text-decoration: none;
}

/***BODY***/
.top-section, .bottom-section {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.main-image {
  display: flex;
  height: auto;
  width: 100%;
}

.main-image img {
  border-bottom: 3px solid #77a466;
  border-top: 3px solid #77a466;
  width: 100%;
}

.main-title {
  height: auto;
  padding: 15px 0;
}

.main-title h2 {
  color: #77a466;
  padding: 5px 0 0 0;
  text-align: left;
}

.section-one, .section-three {
  border-bottom: 1.5px solid #dedbdc;
  border-top: 1.5px solid #dedbdc;
}
.section-one, .section-two, .section-three {
  height: auto;
  padding: 25px 0;
  width: 100%;
}

/***.section-two {
  border-left: 1px solid #dedbdc;
  border-right: 1px solid #dedbdc;
}***/

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  color: #77a466;
  line-height: 18px;
  padding: 10px 0;
}

/***FOOTER***/
footer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
}

footer span {
  color: #77a466;
  font-family: 'Galada', cursive;
  text-transform: lowercase;
}
